.css-1q04gal-MuiDateCalendar-root {
  max-height: 300px;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #b289bd;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
  background-color: #b289bd;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
  background-color: #b289bd !important;
}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #b289bd !important;
}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #b289bd !important;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root:focus.Mui-selected {
  background-color: #b289bd !important;
}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #b289bd !important;
}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root:focus.Mui-selected {
  will-change: background-color;
  background-color: #b289bd !important;
}
.MuiButtonBase-root
  .MuiPickersDay-root
  .Mui-selected
  .MuiPickersDay-dayWithMargin
  .css-1u23akw-MuiButtonBase-root-MuiPickersDay-root {
  background-color: #b289bd !important;
}

.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  font-size: 1vw !important;
  width: 5vw !important;
  height: 7.5vh !important;
}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root {
  font-size: 1vw !important;
  width: 5vw !important;
  height: 7.5vh !important;
}
.css-168nijn-MuiPickersDay-root {
  font-size: 1vw !important;
  width: 5vw !important;
  height: 7.5vh !important;
}
.css-jgls56-MuiButtonBase-root-MuiPickersDay-root {
  font-size: 1vw !important;
  width: 5vw !important;
  height: 7.5vh !important;
}
