.css-1q04gal-MuiDateCalendar-root {
  max-height: 300px;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #b289bd;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
  background-color: #b289bd;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
  background-color: #b289bd !important;
}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #b289bd !important;
}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #b289bd !important;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root:focus.Mui-selected {
  background-color: #b289bd !important;
}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #b289bd !important;
}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root:focus.Mui-selected {
  will-change: background-color;
  background-color: #b289bd !important;
}
.MuiButtonBase-root
  .MuiPickersDay-root
  .Mui-selected
  .MuiPickersDay-dayWithMargin
  .css-1u23akw-MuiButtonBase-root-MuiPickersDay-root {
  background-color: #b289bd !important;
}

.css-6exafu.Mui-selected:hover {
  background-color: #b289bd !important;
}
.css-6exafu.Mui-selected {
  background-color: #b289bd !important;
}
